header{
    width: 100%;
   background: pink;
   height: 50px;	
}
nav{
	width: 100%;
	background: skyblue;
	height: 30px

}
section{
	width:100%;
	background: lightgreen;
	float: left;

}
aside{
	width: 60%;
	background: yellow;
	float: left;
	height: 300px;
}
article{
	width: 40%;
	background: orange;
	float: right;
	height: 300px;
}
footer{
 width: 100%;
 background: blue;
 text-align: center;
}